<section class="blog d-none d-md-block">
  <div class="container">
    <div class="row">
      <div class="blog__content">
        <div class="title">Свіже в блозі</div>
        <div class="template">
          <div class="nav__tabs d-flex">
            <div id="tab-1" class="item active" data-tabs="1">Все</div>
            <div id="tab-2" class="item" data-tabs="2">Авторські статті</div>
            <div id="tab-3" class="item" data-tabs="3">Дослідження</div>
          </div>
          <div class="content__tabs">
            <div class="content" data-tabs="1">
              <div class="wrapper">
                    <div class="slider-blog">
                      <div class="slider-column">
                        <img class="slider-column__image" src="img/Photo.png" alt="">
                        <div class="slider-column__title">Як вибрати няню для дитини?</div>
                        <div class="slider-column__date">8 червня</div>
                        <div class="slider-column__button">
                          <div class="btn">поради</div>
                          <div class="btn">корисне</div>
                        </div>
                      </div>
                      <div class="slider-column">
                        <img class="slider-column__image" src="img/Photo6.png" alt="">
                        <div class="slider-column__title">Як вибрати няню для дитини?</div>
                        <div class="slider-column__date">8 червня</div>
                        <div class="slider-column__button">
                          <div class="btn">поради </div>
                          <div class="btn">корисне</div>
                        </div>
                      </div>
                      <div class="slider-column">
                        <img class="slider-column__image" src="img/Photo5.png" alt="">
                        <div class="slider-column__title">Як вибрати няню для дитини?</div>
                        <div class="slider-column__date">8 червня</div>
                        <div class="slider-column__button">
                          <div class="btn">поради </div>
                          <div class="btn">корисне</div>
                        </div>
                      </div>
                      <div class="slider-column">
                        <img class="slider-column__image" src="img/Photo.png" alt="">
                        <div class="slider-column__title">Як вибрати няню для дитини?</div>
                        <div class="slider-column__date">8 червня</div>
                        <div class="slider-column__button">
                          <div class="btn">поради </div>
                          <div class="btn">корисне</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 d-flex justify-content-center mt-5">
                    <button class="btn-forum d-flex align-items-center"><p>Читати більше</p><svg width="19" height="19" viewBox="0 0 19 19"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                          d="M16.124 9.05098L9.11406 2.96689C9.06025 2.92051 8.9916 2.89453 8.91924 2.89453H7.27715C7.13984 2.89453 7.07676 3.06523 7.18066 3.1543L13.6785 8.79492H2.82031C2.73867 8.79492 2.67188 8.86172 2.67188 8.94336V10.0566C2.67188 10.1383 2.73867 10.2051 2.82031 10.2051H13.6767L7.17881 15.8457C7.0749 15.9366 7.13799 16.1055 7.27529 16.1055H8.97305C9.0083 16.1055 9.04355 16.0925 9.06953 16.0684L16.124 9.94902C16.1883 9.89317 16.2398 9.82418 16.2751 9.74672C16.3103 9.66926 16.3286 9.58512 16.3286 9.5C16.3286 9.41488 16.3103 9.33074 16.2751 9.25328C16.2398 9.17582 16.1883 9.10683 16.124 9.05098Z"
                          fill="#1E3173" />
                  </svg>
              </button>
                    </div>
                </div>    
              </div>
            </div>
            <div class="content d-none" data-tabs="2">Content 2</div>
            <div class="content d-none" data-tabs="3">Content 3</div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>


