<section class="blog">
  <div class="container">
    <div class="row">
      <div class="blog__content">
        <div class="title">Свіже в блозі</div>
        <div class="template">
          <div class="nav__tabs d-flex">
            <div id="tab-1" class="item active" data-tabs="1">Все</div>
            <div id="tab-2" class="item" data-tabs="2">Авторські статті</div>
            <div id="tab-3" class="item" data-tabs="3">Дослідження</div>
          </div>
          <div class="content__tabs">
            <div class="content" data-tabs="1">
              <div class="wrapper">
                    <div class="slider-blog">
                      <div class="slider-column">
                        <img class="slider-column__image" src="/img/Photo.png" alt="">
                        <div class="slider-column__title">Як вибрати няню для дитини?</div>
                        <div class="slider-column__date">8 червня</div>
                        <div class="slider-column__button">
                          <div class="btn">поради</div>
                          <div class="btn">корисне</div>
                        </div>
                      </div>
                      <div class="slider-column">
                        <img class="slider-column__image" src="/img/Photo6.png" alt="">
                        <div class="slider-column__title">Як вибрати няню для дитини?</div>
                        <div class="slider-column__date">8 червня</div>
                        <div class="slider-column__button">
                          <div class="btn">поради </div>
                          <div class="btn">корисне</div>
                        </div>
                      </div>
                      <div class="slider-column">
                        <img class="slider-column__image" src="/img/Photo5.png" alt="">
                        <div class="slider-column__title">Як вибрати няню для дитини?</div>
                        <div class="slider-column__date">8 червня</div>
                        <div class="slider-column__button">
                          <div class="btn">поради </div>
                          <div class="btn">корисне</div>
                        </div>
                      </div>
                      <div class="slider-column">
                        <img class="slider-column__image" src="/img/Photo.png" alt="">
                        <div class="slider-column__title">Як вибрати няню для дитини?</div>
                        <div class="slider-column__date">8 червня</div>
                        <div class="slider-column__button">
                          <div class="btn">поради </div>
                          <div class="btn">корисне</div>
                        </div>
                      </div>
                    </div>
                </div>    
              </div>
            </div>
            <div class="content d-none" data-tabs="2">Content 2</div>
            <div class="content d-none" data-tabs="3">Content 3</div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>


