<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
            <div class="footer__content">
                <div class="row">
                    <div class="col-5">
                        <div class="footer-logo ">
                           <a href=""> <img src="/img/MOMSEEK.svg" alt="/"></a>
                            <div class="footer-logo__text">© 2022 сервіс для пошуку нянь поблизу</div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="footer-menu">

                            <ul>
                                <li> <a href="#">Контакти</a></li>
                                <li> <a href="#">F.A.Q.</a></li>
                                <li> <a href="#">Блог</a></li>
                                <li> <a href="#">Фоум</a></li>
                                <li> <a href="#">Анкети нянь</a></li>
                                <li> <a href="#">Оголошення про роботу</a></li>
                            </ul>
                            <div class="footer__language d-flex align-items-center">
                                <div class="footer__language_icon">
                                    <img src="../img/Vector-footer.svg" alt="">
                                </div>
                                <div class="footer__language_text">Українська
                                    <div class="sublank">
                                        <nav>
                                            <ul>
                                                <li><a href="#">Англійська</a></li>
                                                
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="footer__language_arrow">
                                    <img src="../img/footer.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</footer>