<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex">
                <div class="header__logo d-flex align-items-center">
                   <a href="/"><img src="../img/logo.svg" alt=""></a>
                </div>
                <div class="header__language d-flex align-items-center">
                    <div class="header__language_icon">
                        <img src="../img/emojione-monotone_globe-with-meridians.svg" alt="">
                    </div>
                    <div class="header__language_text">Українська
                        <div class="sublank">
                            <nav>
                                <ul>
                                    <li><a href="#">Англійська</a></li>
                                    <li><a href="#">Англійська</a></li>
                                    <li><a href="#">Англійська</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="header__language_arrow">
                        <img src="../img/ant-design_caret-down-filled.svg" alt="">
                    </div>
                </div>
                <div class="header__elements">
                <a href="" class="header__button-one">Розмістити оголошення</a>
                <a href="" class="header__button-two">Знайти роботу</a>
                <div class="header__exit d-flex align-items-center">
                    <div class="header__exit_icon">
                        <img src="../img/Vector.svg" alt="">
                    </div>
                    <div class="header__exit_text"><a href=""> Увійти</a></div>
                </div>
            </div>
            </div>
        </div>
    </div>
</header>