<section class="hero">
    <div class="hero__items ">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="hero__items_one">
                        <div class="title">Батьки вільні, діти доглянуті</div>
                        <div class="subtitle">сервіс для пошуку нянь поблизу</div>
                        <div class="form">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-lg-5">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Шукаю няню</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-7 position-relative">
                                <img src="../img/icon1.svg" alt="" class="image">
                                <select class="form-select" data-v-139dbde1 id="icon" aria-label="Default select example">
                                   
                                    <option class="ss" selected> Київ, Україна</option>
                                    <option value="1">One</option>
                                    <option value="2">Twos</option>
                                    <option value="3">Three</option>
                                 
                                </select>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 ">
                    <div class="hero__items_two d-flex flex-column align-items-end justify-content-end ">
                        <div class="image d-none d-lg-block">
                            <img src="../img/video.svg" alt="">
                        </div>
                        <div class="col-12">
                            <div class="btn">Шукати</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>