<section class="s d-none">
    <div class="container">
        <div class="row">
            <div class="s__content">
                <div class="s__content_title">Спільнота</div>
                <div class="s__content_subtitle">Обмін досвідом, спілкування, рекомендації</div>
                <div class="column-s">
                    <div class="row">
                        <div class="col-6">
                            <div class="column-s">
                                <div class="column-s__line"></div>
                                <div class="column-s__title">Популярне на форумі</div>
                                <div class="column-s__item item">
                                    <div class="item__date">8 червня · Різне</div>
                                    <div class="item__text">Якого віку повинна бути відповідальна няня?</div>
                                </div>
                                <div class="column-s__one_item item">
                                    <div class="item__date">8 червня · Різне</div>
                                    <div class="item__text">З якого віку дитина готова для того аби її залишати наодинці
                                        з нянею?</div>
                                </div>
                                <div class="column-s__one_item item">
                                    <div class="item__date">8 червня · Різне</div>
                                    <div class="item__text">Якого віку повинна бути відповідальна няня?</div>
                                </div>
                                <div class="column-s__one_item item">
                                    <div class="item__date">8 червня · Різне</div>
                                    <div class="item__text">Якого віку повинна бути відповідальна няня?</div>
                                </div>
                                <div class="column-s__one_item item">
                                    <div class="item__date">8 червня · Різне</div>
                                    <div class="item__text">З якого віку дитина готова для того аби її залишати наодинці
                                        з нянею?</div>
                                </div>
                                <div class="column-s__one_item item">
                                    <div class="item__date">8 червня · Різне</div>
                                    <div class="item__text">Якого віку повинна бути відповідальна няня?</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="column-s">
                                <div class="column-s__line"></div>
                                <div class="column-s__title">Обговорюють зараз</div>
                                <div class="item">
                                    <div class="item__comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo consequat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste? </div>
                                
                                <div class="item__data d-flex align-items-center">
                                    <img src="../img/photo2.png" alt="">
                                    <div class="item__data_name">Юлія К.</div>
                                    <div class="item__data_text">в топіку</div>
                                    <div class="item__data_kategory">“Поради, як  не промахнутись з вибором няні”</div>

                                </div>
                                </div>
                                <div class="item">
                                    <div class="item__comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do  </div>
                                
                                <div class="item__data d-flex align-items-center">
                                    <img src="../img/photo2.png" alt="">
                                    <div class="item__data_name">Юлія К.</div>
                                    <div class="item__data_text">в топіку</div>
                                    <div class="item__data_kategory">“Поради, як  не промахнутись з вибором няні”</div>

                                </div>
                                </div>

                                <div class="item">
                                    <div class="item__comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo consequat. </div>
                                
                                <div class="item__data d-flex align-items-center">
                                    <img src="../img/photo2.png" alt="">
                                    <div class="item__data_name">Юлія К.</div>
                                    <div class="item__data_text">в топіку</div>
                                    <div class="item__data_kategory">“Поради, як  не промахнутись з вибором няні”</div>

                                </div>
                                </div>


                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>