.for-babysitters {
    &__content {
        margin-top: 64px !important;
        background-image: url('../img/image 7.png');
        background-position: 100%;
        background-repeat: no-repeat;
        background-size: auto 100%;
        border-radius: 12px;
        position: relative;
        padding: 40px 35px 30px 40px;
        z-index: 100;
        overflow: hidden;

        @media screen and (max-width:535px) {
            margin-top: 40px !important;
            padding: 0 12px;
        }


        .gradient {
            position: absolute;
            top: -200px;
            left: -450px;
            width: 900px;
            height: 900px;
            border-radius: 50%;
            background-color: #1E3173;
            z-index: -199;

            @media screen and (max-width:1200px) {
                left: 0px;
                border-radius: 0px;
                width: 100%;
            }

            @media screen and (min-width:1400px) {
                left: -200px;

            }
        }


        &_desc {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 100%;
            color: #FFFFFF;
            z-index: 100;

            @media screen and (max-width: 1200px) {
                font-size: 17px;
                margin-top: 15px;
            }

        }

        &_subtitle {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 800;
            font-size: 64px;
            line-height: 100%;
            color: #FFFFFF;
            margin-top: 38px;

            @media screen and (max-width: 1200px) {
                font-size: 35px;
            }

            @media screen and (max-width: 1200px) {
                margin-top: 20px;
            }

            @media screen and (max-width: 535px) {
                margin-top: 15px;
                font-size: 28px;
            }

        }

        &_colums {
            margin-top: 112px;

            @media screen and (max-width: 1200px) {
                margin-top: 40px;
            }

            @media screen and (max-width: 768px) {
                margin-top: 20px;
            }
        }
    }

}

.blog-item {
    position: relative;
    padding: 18px 20px 23px 23px;
    background: #000000;
    border-radius: 12px;

    @media screen and (min-width:1400px) {
        min-height: 145px;
    }

    @media screen and (max-width: 1200px) {
        margin-bottom: 10px;
    }

    @media screen and (max-width: 640px) {
        background-color: #fff;
    }

    &:hover {
        background-color: #fff;
        color: #1E3173;
        transition: 0.5s;

        @media screen and (max-width: 640px) {
            background: #FFD8B2;
        }
    }

    &:hover .blog-item__title {
        color: #000000;
        transition: 0.5s;
    }

    &:hover .blog-item__subtitle {
        color: #1E3173;
        transition: 0.5 s;

        @media screen and (max-width: 640px) {
            color: #000;
        }
    }

    &:hover svg path {
        fill: #000;
        ;
        transition: 0.5 s;
    }

    &__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 100%;
        color: #FFFFFF;
        padding-right: 30px;

        @media screen and (max-width: 1200px) {
            font-size: 20px;
        }

        @media screen and (max-width: 640px) {
            color: #000;
        }
    }

    &__subtitle {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        margin-top: 17px;
        color: #FFFFFF;

        @media screen and (max-width: 1200px) {
            font-size: 14px;
        }

        @media screen and (max-width: 640px) {
            color: #000;
        }
    }

    &__arrow {
        position: absolute;
        top: 23px;
        right: 23px;

        @media screen and (max-width: 640px) {
            svg {
                path {
                    fill: #000;
                }
            }
        }
    }

    a {
        text-decoration: none;
    }
}