.for-babysitters {
  

    // .for-parents__content

    &__content {
        margin-top: 64px !important;
        height: 515px ; 
        background-image: url('/img/image 7.png');
        background-position: 100%;
        background-repeat: no-repeat;
        background-size: auto 100%;

        border-radius: 12px;
position: relative;
        padding: 40px 35px 30px 40px;
        z-index: 100;
        overflow: hidden;
       
       
.gradient{
    position: absolute;
    top: -100px;
    left: -200px;
  width: 900px;
  height: 900px;
  border-radius: 50%;
  background-color: #1E3173;
  z-index: -199;
    
}


    &_desc {
        
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 100%;
        color: #FFFFFF;
        z-index: 100;
    }

    &_subtitle {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 64px;
        line-height: 100%;
        color: #FFFFFF;
        margin-top: 38px;
        

    }

    // .for-parents__content_colums

    &_colums {
        margin-top: 112px;
    }
}

}

.blog-item{
    position: relative;
padding: 18px 20px 23px 23px;
background: #000000;
    border-radius: 12px;
   
    &:hover{
        background-color: #fff;
        color: #1E3173;
        transition: 0.5s;
    }
    &:hover .blog-item__title{
        color: #000000;
        transition: 0.5s;
    }
    &:hover .blog-item__subtitle{
        color: #1E3173;
        transition: 0.5 s;
    }
    &:hover svg path{
       fill: #000;;
       transition: 0.5 s;
    }
   
    

    &__title {

    font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 100%;
padding-right: 83px;

color: #FFFFFF;
    }

    &__subtitle {
        font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;

margin-top: 17px;

color: #FFFFFF;
    }

    // .item-one__arrow

    &__arrow {
        position: absolute;
        top: 23px;
        right: 23px;
    }
}
a{
    text-decoration: none;
}

