.header {
    padding-top: 40px;
    padding-bottom: 40px;
    background: url('/img/Rectangle 2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__logo {
        margin-right: 30px;
    }
    &__language {
        cursor: pointer;
        
        &:hover .header__language_arrow{
            transform: rotate(180deg);
        }
        &:hover .sublank{
            display: block;
         }

        &_text {
            margin: 0 6px 0 10px;
            position: relative;
            
        }
    }
    .sublank{
        z-index: 10;
        min-height: 70px;
        position: absolute;
        top: 15px;
        left: 0;
        display: none;
    
      
        li{
            cursor: pointer;
            padding: 5px 0 0 10px;
a{
    text-decoration: none;
    color: #000000;
}
        }
    }
    &__elements{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    &__button-one {
        padding: 11px 20px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        background: #1E3173;
        border-radius: 24px;
        text-decoration: none;
        margin-right: 12px;
        &:hover{
            color: #FFFFFF;
        }
    }

    &__button-two {
        padding: 9px 20px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #1E3173;
        border: 2px solid #1E3173;
        border-radius: 24px;
        text-decoration: none;
        margin-right: 31px;
        &:hover{
            color: #1E3173;
        }
    }

    &__exit {
        &_icon {
            margin-right: 10px;
        }

        &_text {
            a{
                text-decoration: none;
                font-family: 'Roboto';
                font-weight: 600;
                font-size: 18px;
                line-height: 1.2;
                color: #000000;
            }
        }
    }
}